#welcome {
  background: linear-gradient(to right top, #6305dd, #390281);
  padding: 6rem 12%;
}

#welcome header {
  display: flex;
  align-items: flex-start;
  margin: 3rem auto;
}

#welcome img {
  width: 10rem;
  height: 10rem;
  object-fit: cover;
  object-position: top;
  border: 5px solid white;
  border-radius: 12px;
  background-color: #ffe1bf;
  transform: rotateZ(-5deg);
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25);
}

#welcome h2 {
  font-size: 3.5rem;
  margin: 0 0 0 2rem;
  color: #e4e4e4;
  width: 10rem;
}

#welcome p {
  color: white;
  font-size: 1.5rem;
}

#latest-posts {
  background-color: white;
  padding: 2rem;
  border-radius: 12px;
  width: 60rem;
  margin: -6rem auto 2rem auto;
  box-shadow: 1px 1px 12px rgba(0, 0, 0, 0.4);
}

#latest-posts h2 {
  text-align: center;
}

#latest-posts ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  gap: 1rem;
}

#latest-posts li {
  flex: 1;
}

#about {
  text-align: center;
  padding: 3rem;
  background-color: #6305dd;
  margin-top: 5rem;
}

#about h2 {
  font-size: 3rem;
}

#about pre {
  font-size: 1.5rem;
  color: #ffffff;
}

/* Floating button styling */
.floating-btn {
  position: fixed;
  bottom: 80px; /* Slightly higher than before */
  right: 80px;  /* Slightly away from the edge */
  color: white;
  border-radius: 50%;
  box-shadow: 0 6px 16px rgba(0, 0, 0, 0.25); /* Larger shadow for better depth */
  transition: transform 0.2s ease, background-color 0.3s ease; /* Smooth transitions */
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000; /* Ensure it's always on top */
  font-size: 2rem; /* Increased font size */
}

.floating-btn:hover {
  transform: scale(1.15); /* Slightly larger on hover */
}

.floating-btn:focus {
  outline: none; /* Removes focus outline when clicked */
}
