{% extends "base.html" %}
{% load static %}

{% block title %}
    Nota - {{post.title}}
{% endblock %}


{% block css_files %}
    <link rel="stylesheet" href="{% static "blog/css/blog_post_form.css" %}">
{% endblock %}


{% block content %}
<form action="/post-form/" method="post" enctype="multipart/form-data">
    {% csrf_token %}

    <div>
        {{ post_form.title.label_tag }}
        {{ post_form.title }}
    </div>

    <div>
        {{ post_form.excerpt.label_tag }}
        {{ post_form.excerpt }}
    </div>

    <div>
        {{ post_form.content.label_tag }}
        {{ post_form.content }}
    </div>

    <div>
        {{ post_form.image.label_tag }}
        {{ post_form.image }}
    </div>

    <div>
        {{ post_form.author.label_tag }}
        {{ post_form.author }}
    </div>

    <div>
        {{ post_form.new_tags.label_tag }}
        {{ post_form.new_tags }}
        <small>{{ post_form.new_tags.help_text }}</small>
    </div>

    <button>Create</button>
</form>

{% endblock %}